<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Streamer list - Angular demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul  class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active':selectedTab === 'All Streamers'}" (click)="selectedTab = 'All Streamers'; navbarClick($event)">
        <a class="nav-link" href="#">All Streamers<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="{'active':selectedTab === 'Online'}" (click)="selectedTab = 'Online'; navbarClick($event)">
        <a class="nav-link" href="#">Online</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':selectedTab === 'Offline'}" (click)="selectedTab = 'Offline'; navbarClick($event)">
        <a class="nav-link" href="#">Offline</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="col-xl-12" style="margin-top: 5%">
    <app-all-list *ngIf="currentComponent == 1" [streamersArray]="streamers"></app-all-list>
    <app-offline-list *ngIf="currentComponent == 2" [streamersArray]="streamers"></app-offline-list>
    <app-online-list *ngIf="currentComponent == 3"[streamersArray]="streamers"></app-online-list>
  </div>
</div>

